@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
  font-family: 'Lato'
  font-weight: 300;
  font-size: 16px;
  margin: 0, 15px;
  margin-top: 110px;
}
.navbar {
  background: #009688;
  border-radius: 0;
  font-weight: 800;
  font-size: 14px;
  padding: 10px 0 10px 0;
}

.navbar > .container > .navbar-header > a.navbar-brand {
  color: #fbfcda;
}

.navbar-brand {
  height: auto;
}

.navbar > .container > .navbar-title > h4 {
  font-size: 35px;
  font-family: 'Lato';
}

h1, h2, h3, h4, h5 ,h6 {
  font-weight: 400;
  color: #000000;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
}

.page-header > h1 {
  color: black;
}

.navbar > .container > .nav > li {
  padding-right: 10px;
}

#user {
  background: url(../user.png) no-repeat;
  margin-top: 30px;
  padding-top: 20px;
  height: 350px;
  width: 300px;
  background-size: 100%;
}

.container > .row > .col-md-4 {
  padding-top: 15px;
}

#editContainer {
  margin-top: 30px;
}

.navbar > .container > .nav > li > button > a {
  text-decoration: none;
  color: #fefefe;
}

.navbar-fixed-bottom {
  padding: 20px 0 10px 0;
  background: #009688;
  color: #fbfcda;
}

.navbar-fixed-bottom > .container > .row > .col-md-4 > span > i {
  padding: 10px 0;
}

#main {
  padding-bottom: 70px;
}

#main > .container > .row > .col-md-3 {
  padding-bottom: 15px;
}

.container > .panel {
  margin-bottom: 150px;
}

.container > .page-header {
  position: relative;
}

.container > .page-header > button {
  position: absolute;
  right: 0;
  top: 0;
}
