<nav class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="fa fa-users fa-2x"></i></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="btn btn-info navbar-btn btn-lg"><a href="/login"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i> Выйти</a></button></li>
      </ul>
    </div>
  </nav>
  <div class="navbar-fixed-bottom">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4">
          <span><i class="fa fa-copyright fa-lg" aria-hidden="true"></i> 2017 Management App</span>
        </div>
        <div class="col-md-4">
          <i class="fa fa-facebook fa-2x"></i>
          <i class="fa fa-twitter fa-2x"></i>
          <i class="fa fa-vk fa-2x"></i>
        </div>
        <div class="col-md-4">
          <span>Designed & Developed by Alexandr Karavai exclusively for GitHub</span>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
